input{
    font-size: 22px;
}

td:hover {
    background-color: gray;
    cursor: pointer;
}

#limpiar{
    font-size: 15px; 
    width: 200px; 
    color: white;
}

.centrar{
    justify-content: center;
    margin-top: 10vh;
}

h4{
    background: white; 
    color: black;
}

#table  td{
    border: 1px solid rgba(108, 108, 108, 0.25);
}

#historial{
    height: 287px;
    width: 200px;
}

#historial > tbody{
    display: block;
    width: 200px;
    height: 287px;
    overflow-y: auto;
    border-left: 1px solid white;
}

#display{
    font-size: 50px;
}

#resultado{
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 120px;
    background: rgba(108, 108, 108, 0.1);
}