input{
    font-size: 22px;
}

td:hover {
    background-color: #ddd;    
    cursor: pointer;
}

.centrar{
    justify-content: center;
    margin-top: 10vh;
}

#table  td{
    border: 1px solid rgba(108, 108, 108, 0.1)
}

#historial{
    min-width: 90px;
    width: auto;
}

#historial > tbody{
    display: block;
    width: auto;
    max-width: 250px;
    height: 150px;
    overflow-y: auto;
    overflow-x: auto;
}

#display{
    font-size: 50px;
}

#resultado{
    border: 1px solid black;
    height: 120px;
    background: rgba(108, 108, 108, 0.1);
}